{{define "form/streamSettings"}}
<a-form layout="vertical">
    <a-form-item label="传输">
        <a-select v-model="inbound.stream.network" @change="streamNetworkChange">
            <a-select-option value="tcp">RAW</a-select-option>
            <a-select-option value="ws">WebSocket</a-select-option>
            <a-select-option value="grpc">gRPC</a-select-option>
            <a-select-option value="http">HTTP (Legacy)</a-select-option>
            <a-select-option value="kcp">mKCP (Legacy)</a-select-option>
            <a-select-option value="quic">QUIC (Legacy)</a-select-option>
        </a-select>
    </a-form-item>
</a-form>

<template v-if="inbound.stream.network === 'tcp'">
    {{template "form/streamTCP"}}
</template>

<template v-if="inbound.stream.network === 'ws'">
    {{template "form/streamWS"}}
</template>

<template v-if="inbound.stream.network === 'grpc'">
    {{template "form/streamGRPC"}}
</template>

<template v-if="inbound.stream.network === 'http'">
    {{template "form/streamHTTP"}}
</template>

<template v-if="inbound.stream.network === 'kcp'">
    {{template "form/streamKCP"}}
</template>

<template v-if="inbound.stream.network === 'quic'">
    {{template "form/streamQUIC"}}
</template>
{{end}}
